process {
    stageInMode = 'copy'
    executor = 'awsbatch'
    
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    withName: mutect_wrapper {
        errorStrategy = 'retry'
        maxRetries = 3
        // increase memory each attempt
        memory = { 16.GB * task.attempt }   // 16GB, 32GB, 48GB...
        cpus   = 2
    }

  
}

docker {
    enabled = true
}