process {
    stageInMode = 'copy'
    executor = 'awsbatch'
    
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    withName: RUN_CLUSTER {
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
        memory = { 64.GB * task.attempt }   // 64, 128, 192, 256 GB
        cpus = 4
    }

  
}

docker {
    enabled = true
}